.env
vendor/
node_modules/
logs/
tests/
*.log
*.bak
.DS_Store
/.vscode/
/.idea/
*.env
.env.local
.env.*.local
.env.production
.env.development
.env.test
.env.*.secret
/.env
.secret
secrets.yml
credentials.yml
credentials.yml.enc
*.pem
*.key
id_*
.ssh/id_* 
.aws/credentials
.azure
.pgpass
.mysql_history
coverage/
composer.lock
debug_backtrace.log
